# python
*.pyc
__pycache__
build/*
*.egg-info

# vs code
.vscode/*

# docs
docs/_build/*

# mac
.DS_Store

# coverage report
.coverage
dev/pytest-coverage/pytest-coverage.txt
dev/fast_cosine_sim.py

# build
build/*
*.egg-info/*
