spacy>=3.2.0,<3.3.0
catalogue>=2.0.4,<2.1.0
thinc>=8.0.8,<8.1.0
pydantic>=1.8.2,<1.9.0
numpy>=1.15.0,<2.0.0

# Wordnet
nltk >= 3.6.7,<3.7.0

# Danish
dacy >=1.1.1,<2.0.0

# testing
pytest
pytest-cov

# small english model for testing
https://huggingface.co/spacy/en_core_web_sm/resolve/main/en_core_web_sm-any-py3-none-any.whl
https://huggingface.co/spacy/en_core_web_md/resolve/main/en_core_web_md-any-py3-none-any.whl


# documentation
sphinx
furo
sphinx-copybutton
sphinxext-opengraph
myst-parser

# code style
flake8
black

# streamlit
st-annotated-text>=3.0.0,<3.1.0
streamlit>=1.5.0,<1.6.0