# Danish
dacy >=1.1.1,<2.1.0

# Wordnet
nltk >= 3.6.7,< 3.8.0

# Package general
spacy>=3.2.0,<3.5.0
catalogue>=2.0.4,<2.1.0
thinc>=8.0.8,<8.2.0
pydantic>=1.8.2,<1.10.0
numpy>=1.15.0,<2.0.0

# testing
pytest
pytest-cov
pytest-lazy-fixture~=0.6.3
pytest-timeout>=2.1.0,<2.2.0

# english model for testing
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.4.0/en_core_web_md-3.4.0-py3-none-any.whl


# documentation
sphinx>=4.5.0
furo
sphinx-copybutton
sphinxext-opengraph
myst-parser
nbsphinx>=0.8.8
MarkupSafe==2.0.1 # 2.0.1 required for documentation

# code style
flake8
black

# development
pre-commit