spacy>=3.1.0,<3.2.0
catalogue>=2.0.4,<2.1.0
thinc>=8.0.8,<8.1.0
pydantic>=1.8.2,<1.9.0
numpy>=1.15.0,<2.0.0

# wordnet
nltk >= 3.6.2,<3.7.0

# Danish
dacy >= 1.1.1,<2.0.0


# testing
pytest
pytest-coverage

# small english model for testing
https://huggingface.co/spacy/en_core_web_sm/resolve/main/en_core_web_sm-any-py3-none-any.whl
https://huggingface.co/spacy/en_core_web_lg/resolve/main/en_core_web_lg-any-py3-none-any.whl


# documentation
sphinx
furo
sphinx-copybutton
sphinxext-opengraph
myst-parser

# code style
flake8
black

# streamlit
st-annotated-text
streamlit