# Introduction

## can't specify urls in pyproject.toml, therefore they are specified here
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.4.0/en_core_web_lg-3.4.0-py3-none-any.whl
