
name: CI Pytest
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  pytest:
    runs-on: ${{ matrix.os }}

    strategy:
        matrix:
            os: [macos-latest, windows-latest, ubuntu-latest]
            python-version: ['3.9', '3.8', '3.7']
            exclude:
              - os: ubuntu-latest
                python-version: '3.9'

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest pytest-cov
        pip install -r requirements.txt
    - name: Run and write pytest
      run: |
        echo "[run]\nomit =\n\taugmenty/tests/*" > .coveragerc
        python -m  pytest --cov=augmenty --cov-config=.coveragerc --cov-report term-missing | tee pytest-coverage.txt

  pytest-coverage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest pytest-cov
        pip install -r requirements.txt
    - name: Run and write pytest
      run: |
        echo "[run]\nomit =\n\taugmenty/tests/*" > .coveragerc
        python -m  pytest --cov=augmenty --cov-config=.coveragerc --cov-report term-missing | tee pytest-coverage.txt
    - name: Pytest coverage comment
      id: coverage-comment
      uses: MishaKav/pytest-coverage-comment@v1.1.17
      with:
        pytest-coverage-path: ./pytest-coverage.txt

    - name: Check the output coverage
      run: |
        echo "Coverage Report - ${{ steps.coverage-comment.outputs.coverage }}"
        echo "Coverage Color - ${{ steps.coverage-comment.outputs.color }}"
    - name: Create the Badge
      uses: schneegans/dynamic-badges-action@v1.1.0
      with:
        auth: ${{ secrets.PYTEST_COVERAGE }}
        gistID: 2d5c14e682c3560240fe05cc7c9f4d2d
        filename: badge-augmenty-pytest-coverage.json
        label: Coverage
        message: ${{ steps.coverage-comment.outputs.coverage }}
        color: ${{ steps.coverage-comment.outputs.color }}
        namedLogo: python